/* big screen */
@media screen and (min-width:427px) and (max-width:2561px) {
    * {
        margin: 0px;
    }

    .nav-container {
        background-color: rgb(248, 245, 245);
        display: grid;
        position: sticky;
        top: 0px;
        z-index: 1000;
        box-shadow: 100px;
        grid-template-columns: 20% 50% 30%;
        /* border: 1px solid black; */
        height: 70px;
    }

    .logo-div {
        text-align: center;
        align-content: center;
        /* border: 1px solid black; */
    }

    .logo {
        color: black;
        font-size: 20px;
        font-family: arial;
        font-weight: bold;
        text-decoration: none;
    }

    .nav-div {
        text-align: center;
        align-content: center;
        /* border: 2px solid greenyellow; */
    }

    .nav-div>a {
        font-family: arial;
        font-weight: lighter;
        font-size: 20px;
        padding-right: 20px;
        text-decoration: none;
        color: lightslategray;
    }

    /* 
    a {
        text-decoration: none;
        color: black;
    } */
    .nav-div>a:hover {
        color: black;
    }

    .navrightdiv {
        /* border: 1px solid black; */
        /* margin-left: 10px; */
        align-content: center;
        text-align: center;
    }

    .loginbtn {
        height: 35px;
        width: auto;
        background-color: white;
        border: 1.5px solid gray;
        margin-left: 3px;
        border-radius: 4px;
    }

    .loginatag {
        color: black;
        text-decoration: none;
        font-family: arial;
        /* border: 1px solid black; */
    }

    .home-wallpaper-div {
        height: 380px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        border-radius: 4px;
        /* border: 1px solid black; */
        background-image: url("../images/main.png.jpg");
        background-size: cover;
        background-position: center;
        align-content: center;
    }

    .new-season-txt {
        color: white;
        font-family: arial;
        font-weight: lighter;
        font-size: 55px;
        margin-left: 20px;
        margin-bottom: 10px;

    }

    .home-wallpaper-p-txt {
        color: white;
        font-family: arial;
        font-weight: bold;
        font-size: 25px;
        margin-left: 20px;


    }

    .home-latestpro-head {
        font-size: 45px;
        font-family: arial;
        font-weight: lighter;
        color: rgb(105, 104, 104);
        text-align: center;

    }

    .latestpro-head-div {
        margin-top: 40px;
    }

    .hr-line-home {
        margin-left: 70px;
        margin-right: 70px;
    }

    .home-filter-div {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-filter-div>a {
        text-decoration: none;
        color: lightslategray;
        border: 1.2px solid lightslategray;
        border-radius: 3px;
        font-family: arial;
        height: 22px;
        margin: 10px;
        text-align: center;
        align-content: center;
        font-size: 1rem;
        padding: 2px;
    }

    .products-main-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px;


    }

    .item {
        width: 350px;
        height: 600px;
        border: 1.5px solid gray;
        border-radius: 5px;
    }

    .item-img {
        width: 100%;
        height: 70%;
        border-radius: 5px;

    }

    .pro-descrip {
        display: flex;
        justify-content: center;

        align-items: center;
        margin: 10px;
        column-gap: 10px;
    }

    .pro-descrip>button {
        background-color: black;
        color: white;
        border-radius: 5px;
        margin-top: 5px;
        height: 30px;
        width: auto;
        padding: 5px;
    }
    /* ABOUT PAGE */
    .about-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .about {
        color: rgb(58, 57, 57);
        font-family: arial;

    }

    .about-hr {
        margin-left: 70px;
        margin-right: 70px;
    }

    .about-para-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .about-para {
        text-align: center;
        color: lightgrey;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 22px;
    }

    .ourproducts-head {
        text-align: center;
        margin: 15px;
    }

    .about-cards-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-card {
        width: 200px;
        height: 220px;
        border-radius: 4px;
        box-shadow: 3px 3px 3px gray;
    }

    .about-card-img {
        width: 100%;
        height: 80%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .cards-cap {
        text-align: center;
        align-content: center;
        margin: 10px;
        font-size: 16px;
    }

    .footer {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .footer-title {
       
        font-weight: lighter;

    }

    .heart-sym {
        color: red;

    }

}



/* mobile screen */
@media screen and (max-width:426px) {
    * {
        margin: 0px;
        font-family: arial;
    }

    /* a {
        text-decoration: none;
        color: black;
    } */

    .nav-container {
        background-color: rgb(248, 245, 245);
        display: grid;
        position: sticky;
        top: 0px;
        z-index: 1000;
        grid-template-columns: 20% 50% 30%;
        /* border: 1px solid black; */
        /* height: 40px; */
    }

    .logo-div {
        text-align: center;
        /* border: 1px solid black; */
    }

    .logo {
        color: black;
        text-decoration: none;
        font-family: arial;
        font-weight: bold;
        font-size: 10px;
    }

    .nav-div {
        text-align: center;
        /* border: 2px solid greenyellow; */
    }

    .nav-div>a {
        font-family: arial;
        font-weight: lighter;
        font-size: 10px;
        padding-right: 2px;
        text-decoration: none;
        color: lightslategray;
    }

    .nav-div>a:hover {
        color: black;
    }

    .navrightdiv {
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .loginbtn {
        width: auto;
        border: 1px solid black;
        border-radius: 2px;
        padding: 0px;
        margin-left: 1.5px;
    }

    .loginatag {
        font-size: 0.5rem;
        text-decoration: none;
        color: black;
    }

    .home-wallpaper-div {
        height: 180px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        border-radius: 4px;
        /* border: 1px solid black; */
        background-image: url("../images/main.png.jpg");
        background-size: cover;
        background-position: center;
        align-content: center;
    }

    .new-season-txt {
        color: white;
        font-family: arial;
        font-weight: lighter;
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 5px;

    }

    .home-wallpaper-p-txt {
        color: white;
        font-family: arial;
        font-weight: bold;
        font-size: 12px;
        margin-left: 10px;


    }

    .home-latestpro-head {
        font-size: 24px;
        font-family: arial;
        font-weight: lighter;
        color: rgb(105, 104, 104);
        text-align: center;

    }

    .latestpro-head-div {
        margin-top: 20px;
    }

    .hr-line-home {
        margin-left: 25px;
        margin-right: 25px;
    }

    .home-filter-div {
        height: 50px;
        text-align: center;
        align-content: center;
    }

    .home-filter-div>a {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 3px;
        font-family: arial;
        margin-right: 12px;
        margin-top: 8px;
    }
    .products-main-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px;


    }

    .item {
        width: 350px;
        height: 600px;
        border: 1.5px solid gray;
        border-radius: 5px;
    }

    .item-img {
        width: 100%;
        height: 70%;
        border-radius: 5px;

    }

    .pro-descrip {
        display: flex;
        justify-content: center;

        align-items: center;
        margin: 10px;
        column-gap: 10px;
    }

    .pro-descrip>button {
        background-color: black;
        color: white;
        border-radius: 5px;
        margin-top: 5px;
        height: 30px;
        width: auto;
        padding: 5px;
    }

    /* ABOUT PAGE */
    .about-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .about {
        color: rgb(58, 57, 57);
        font-family: arial;

    }

    .about-hr {
       margin: 40px;
    }

    .about-para-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .about-para {
        text-align: center;
        color: lightgrey;
        margin-left: 12px;
        margin-right: 12px;
        font-size: 12px;
    }

    .ourproducts-head {
        text-align: center;
        margin: 7px;
    }

    .about-cards-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-card {
        width: 70px;
        height: 100px;
        border-radius: 4px;
        box-shadow: 3px 3px 3px gray;
    }

    .about-card-img {
        width: 100%;
        height: 80%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .cards-cap {
        text-align: center;
        align-content: center;
        margin: 2px;
        font-size: 6px;
    }

    .footer {
        height: 70px;
       display: flex;
       justify-content: center;
       align-items: center;


    }

    .footer-title {
        
        font-weight: lighter;
        font-size: 6px;

    }

    .heart-sym {
        color: red;

    }

}